* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.btn {
    background-color: #30B868;
    border: none;
    outline: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #FFFFFF;
    color: black;
}

#navigation {
    background-color: #FFFFFF;
}


nav {
    display: flex;
    margin: 16px auto;
    width: 90%;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
}

nav .nav-content ul {
    display: flex;
    gap: 32px;
}

nav .nav-content li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

#banner {
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;

}

.btn-early .light-circle {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #30B868;
    box-shadow: 0 0 0 3px rgba(48, 184, 104, 0.4),
        0 0 0 6px rgba(48, 184, 104, 0.2);
}

.btn-early {
    gap: 11px;
    display: inline-flex;
    align-items: center;
    border-radius: 25px;
    padding: 8px 12px 8px 17px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    cursor: pointer;
}

.btn-early:hover {
    background-color: #58cf5a;
    color: white;
}

#banner .banner-content {
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;

}

.color-green {
    color: #30B868;
}

#banner .banner-heading {
    text-align: center;

}

#banner .banner-heading .title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}

#banner .banner-heading p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.btn span img {
    width: 13px;
    height: 13px;
    margin-top: 4px;
}

.btn-transparent {
    margin-left: 16px;
    background-color: transparent;
    border: 2px solid white;
    padding: 12.5px 16.5px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16;
    display: inline-flex;
    gap: 10px;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
}

.btn-transparent:hover {
    background-color: #FFFFFF;
    color: black;
}



.notes-heading {
    text-align: center;
    margin-top: 44px;
    margin-bottom: 44px;
}

.notes-heading h2 {
    font-size: 48px;
    font-weight: bold;
}

.notes-heading p {
    margin-top: 16px;
    font-size: 16px;
    color: #627382
}

.notes-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.card p {
    max-width: 274px;
    margin-top: 16px;
    margin-bottom: 69px;
    font-size: 16px;
    color: #627382;
}

.card h4 {
    font-size: 24px;
    font-weight: 700;
}

.card-img {
    margin-top: 69px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.card-img img {
    width: 30px;
    height: 30px;

}

#second-brain {
    margin: 120px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    width: 100%;
    max-width: 1360px;
    flex-wrap: wrap;

}

.brain-text h5 {
    font-size: 16;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
}

.brain-text {
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.brain-text h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 16px;
}

.brain-text p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 40px;
}



.brain-text li {
    display: flex;
    align-items: center;
    gap: 6px;
    list-style-type: none;
    font-size: 16;
    font-weight: 500;
    line-height: 20px;
}

.knowledge img {
    width: 100%;
    max-width: 600px;


}

#ready-to-think {
    width: 90%;
    max-width: 1360px;
    background-color: #F7F6F2;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#ready-to-think h2 {
    font-size: 48px;
    font-weight: bold;

}

.think-content {
    margin: 80px auto;
}

#ready-to-think p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #627382;
    border-radius: 50%;
    margin-bottom: 2px;
}

#footer-section {
    width: 100%;
    max-width: 1600px;
    background-color: #001931;
    text-align: center;
    padding: 120px 5% 30px;
    box-sizing: border-box
}


#footer-section footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1001px;
    align-items: center;
    margin-bottom: 80px;
}

.footer-content p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;

}

.footer-content .social-links {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.footer-content li {
    list-style-type: none;
    color: #FFFFFF;

}

.footer-line {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    height: 1px;
    border: none;
    background-color: #627382;
}

.copyright {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;


}